@font-face {
  font-family: "My Logo Font";
  src: url("black_jack.ttf") format("truetype");
}
body {
  background-color: #cee6db;
  color: Black;
}
body span.element {
  font-size: 30px;
  margin: 20px 0;
  min-hieght: 100px;
}
body main_content {
  margin: auto;
}
body #logo {
  font-family: "My Logo Font" helvetica, arial, sans-serif;
  font-size: 40px;
}
body .written_text {
  font-size: 20px;
}
div {
  margin: 10px;
}
div space_out {
  margin: 20px;
}
